<div class="container">
  <!--***********data********************-->
  <div class="row" id="idscroll">
    <div class="col-10">
      <h4 class="title">Aatualizar contraseña</h4>
    </div>
    <div class="col-2 align-btn">
      <i (click)="close()" class="nc-icon nc-simple-remove close"></i>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-12">
        <span>La contraseña debe tener al menos 8 caracteres, debe tener al menos una letra en mayúscula y un
          número.</span>
      </div>
      <div class="col-12 mt-4">
        <span><b>{{param.correo}} </b> </span>
      </div>
      <br>
      <!-- inputs -->
      <div class="col-12 col-md-6 my-1">
        <label for="pass">Contraseña</label>
        <div class="input-group mb-3">

          <input id="pass" (keyup)="validarPass()" type="{{typeInput}}" autocomplete="off" [(ngModel)]="password"
            class="form-control input-style text-center" placeholder="Contraseña" aria-describedby="basic-addon2" />
          <div class="input-group-append">
            <span style="background-color: white;" class="input-group-text">
              <i class="bi bi-key icon-login" *ngIf="password === '' || password === undefined"></i>
              <!-- <i class="nc-icon nc-key-25 icon-login"></i> -->
              <i class="bi bi-eye icon-login" *ngIf="(password !== '' && password !== undefined) && eyed === true"
                (click)="viewPassword(false)"></i>
              <i class="bi bi-eye-slash icon-login"
                *ngIf="(password !== '' && password !== undefined) && eyed === false" (click)="viewPassword(true)"></i>
            </span>
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="pass">Contraseña</label>
          <input (keyup)="validarPass()" required type="password" class="form-control" id="pass"
            placeholder="Contraseña" [(ngModel)]="password" />
        </div> -->
        <span style="color: #ad182d; font-size: 12px" *ngIf="active_password">{{hintMessen}}</span>
      </div>
      <div class="col-12 col-md-6 my-1">
        <label for="pass2">Repetir Contraseña</label>
        <div class="input-group mb-3">

          <input (keyup)="validarPass()" type="{{typeInput2}}" autocomplete="off" id="pass2"
            placeholder="Contraseña" [(ngModel)]="password2"
            class="form-control input-style text-center" placeholder="Contraseña" aria-describedby="basic-addon2" />
          <div class="input-group-append">
            <span style="background-color: white;" class="input-group-text">
              <i class="bi bi-key icon-login" *ngIf="password2 === '' || password2 === undefined"></i>
              <!-- <i class="nc-icon nc-key-25 icon-login"></i> -->
              <i class="bi bi-eye icon-login" *ngIf="(password2 !== '' && password2 !== undefined) && eyed2 === true"
                (click)="viewPassword2(false)"></i>
              <i class="bi bi-eye-slash icon-login"
                *ngIf="(password2 !== '' && password2 !== undefined) && eyed2 === false" (click)="viewPassword2(true)"></i>
            </span>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="pass2">Repetir Contraseña</label>
          <input (keyup)="validarPass()" required type="password" class="form-control" id="pass2"
            placeholder="Contraseña" [(ngModel)]="password2" />
        </div> -->
        <!-- <mat-hint style="color:#e91e63; font-size: 12px;" *ngIf="active_password2">{{hintMessen2}}</mat-hint> -->
        <span style="color: #ad182d; font-size: 12px" *ngIf="active_password2">{{hintMessen2}}</span>
      </div>
      <!-- <div>
        <span>{{text}}</span>
      </div> -->

    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="btnDisables == true" (click)="save()" type="button" class="btn btn-primary btn_save">
      GUARDAR
    </button>
  </div>

</div>