.close {
  cursor: pointer;
  color: #0C6EB6 !important;
}
.btn_save{
  border-radius: 16px;
}
.title {
    color: #0C6EB6;
    font-weight: bold;
    font-size: 1rem;
  }

  .align-center {
    align-self: center;
  }
  .img-size{
    width: 45%;
  }
  .img-size-min{
    width: 12%;
  }
  .date-grey {
    font-weight: 500;
    color: grey;
  }
  .subtitle-negro {
    color: black;
    font-weight: bold;
    font-size: large;
    margin: 0;
  }
.end{
  text-align: end;
}

.input-style {
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(29, 29, 27, 0.8);
  background-color: #fff;
}
.input-group-append {
  background-color: #fff;
}

.input-group {
  background-color: #fff;
  border-radius: 6.8px;
  box-shadow: 0 3px 9px 0 rgba(12, 110, 182, 0.1);
}
.icon-login {
  color: #000000;
  background-color: white;
}
.container-logo {
  text-align: center;
}
