<div class="container">
  <div class="row my-2">
    <div class="col-12 text-end" *ngIf="user">
      <span class="hi">Hola {{user.name}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 text-start">
      <span class="BNEAs">BNEAs</span>
    </div>
    <div class="col-12 col-md-4 text-end">
      <span class="welcome">Bienvenida a tu espacio. Aquí podrás ingresar nuevos BNEAs o recuperar información de BNEAs
        pasados.</span>
    </div>
  </div>

  <div class="row mt-3 mb-1">
    <div class="col-6 text-start">
      <span class="entry">Mis entradas</span>
    </div>
    <div class="col-6 text-end">
      <span (click)="createBNEAs(0)" class="create-BNEAs">Crear nuevo BNEA
        <button title="Crear BNEAs" class="btn btn-sm btn-info btn-round btn-icon">
          <i style="cursor: pointer; font-size: 1rem;" class="bi bi-plus text-warning"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="form-group search">
        <input name="buscar" id="buscar" [(ngModel)]="buscar" type="text" class="form-control search" placeholder="Buscar">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead class="header-table">
                <tr>
                  <th scope="col-1"></th>
                  <th scope="col-1">ID</th>
                  <th scope="col-2">Area</th>
                  <th scope="col-1">Iniciativa</th>
                  <th scope="col-2">Nombre</th>
                  <th scope="col-1">XLS</th>
                  <th scope="col-1">DOC</th>
                  <th scope="col-1">Porcentage</th>
                  <th scope="col-2">Acciones</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr *ngFor="let item of data | orderBy: 'id': 'desc' |filter:buscar">
                  <td><span><img src=" ./assets/icon/id-coppel.svg" alt="Bootstrap" width="40" height="40"></span>
                  </td>
                  <th class="id-table" scope="row">B00{{item.id}}</th>
                  <td class="info-table">{{item.area}}</td>

                  <!-- <td class="info-table">{{getName(item.area)}}</td> -->
                  <td class="info-table">RPA</td>
                  <td class="info-table">{{item.nombre}}</td>
                  <td class="info-table"><span (click)="excel(item.id)">
                      <img src="./assets/icon/doc-excel.svg" alt="Bootstrap" width="40" height="40">
                      <!-- icon-pendiente.png -->
                      <img src="./assets/icon/icon_asisti.png" alt="Bootstrap" width="15" height="15">
                    </span>
                  </td>
                  <td class="info-table"><span (click)="word(item.id)">
                      <img src="./assets/icon/doc-word.svg" alt="Bootstrap" width="40" height="40">
                      <img src="./assets/icon/icon_asisti.png" alt="Bootstrap" width="15" height="15">
                    </span></td>
                  <td class="info-table">{{item.porcentaje}}%</td>
                  <td>
                    <span class="m-2" (click)="createBNEAs(item.id)">
                      <i style="cursor: pointer; font-size: 1.3rem;" class="bi bi-pencil text-info"></i>
                    </span>
                    <span (click)="deleteBNEA(item.id)" class="m-2">
                      <i style="cursor: pointer; font-size: 1.3rem;" class="bi bi-trash text-danger"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>