<div class="container">
  <div class="row my-2">
    <div class="col-12 text-end">
      <span class="hi">Hola Admin</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 text-start">
      <span class="BNEAs">Lista de Usuarios</span>
    </div>
    <div class="col-12 col-md-4 text-end">
      <span class="welcome">Bienvenida a tu espacio. Aquí podrás crear y actualizar usuarios.</span>
    </div>
  </div>
  <!-- filtros -->
  <div class="row my-4">

    <div class="col-4">
      <div class="form-floating mb-3">
        <select [(ngModel)]="area" (ngModelChange)="getData(area, subdireccion)"  class="selectStyle form-select input-style" id="tipoArea" aria-label="Area">
          <option selected>Elige una area</option>
          <option *ngFor="let item of catArea" [value]="item.id">{{item.area}}</option>
        </select>
        <label for="tipoArea">Area</label>
      </div>
    </div>
    <div class="col-4">
      <div class="form-floating mb-3">
        <select [(ngModel)]="subdireccion" (ngModelChange)="getData(area, subdireccion)" class=" selectStyle form-select input-style" id="subdireccion" aria-label="Subdirección">
          <option selected>Elige una subdirección</option>
          <option *ngFor="let item of catSubdireccion" [value]="item.id">{{item.subDivision}}</option>
        </select>
        <label for="subdireccion">Subdirección</label>
      </div>
    </div>
    <div class="col-4">
      <!-- <div class="form-floating mb-3">
        <input type="text" class="form-control input-style" id="sear" placeholder="Buscar">
        <label for="sear">Buscar</label>
      </div> -->
    </div>
  </div>
  <div class="row mt-3 mb-1">
    <div class="col-6 text-start">
      <!-- <span class="entry">Mis entradas</span> -->
    </div>
    <div class="col-6 text-end">
      <span (click)="createUser(0)" class="create-BNEAs">Crear Usuario
        <button title="Crear BNEAs" class="btn btn-sm btn-info btn-round btn-icon">
          <i style="cursor: pointer; font-size: 1rem;" class="bi bi-plus text-warning"></i>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="container" *ngIf="data">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead class="header-table">
              <tr>
                <th scope="col-1"></th>
                <th scope="col-3">Nombre</th>
                <th scope="col-2">Email</th>
                <th scope="col-2"># Empleado</th>
                <th scope="col-1">Area</th>
                <th scope="col-1">Subdirección</th>
                <th scope="col-1">Puesto</th>
                <th scope="col-1">Acciones</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr *ngFor="let item of data">
                <td><span><img src="./assets/icon/id-coppel.svg" alt="Bootstrap" width="40" height="40"></span>
                </td>
                <th class="id-table" scope="row">{{item.name}}</th>
                <td class="info-table">{{item.email}}</td>
                <td class="info-table">{{item.noEmployee}}</td>
                <td class="info-table">{{getNameArea(item.idArea)}}</td>
                <td class="info-table">{{getNameSubdireccion(item.idSubDivision)}}</td>
                <td class="info-table">{{item.employeePosition}}</td>
                <td>
                  <span class="m-2" (click)="createUser(item.id)">
                    <i style="cursor: pointer; font-size: 1.3rem;" class="bi bi-pencil text-info"></i>
                  </span>
                  <span class="m-2" (click)="deleteUser(item.id)">
                    <i style="cursor: pointer; font-size: 1.3rem;" class="bi bi-trash text-danger"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>