.main {
  background-color: #fafafa;
  /* background-image: linear-gradient(to top, #faeafa, #fe7afa) !important; */
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.title_pass {
  font-size: 1.6rem;
  color: rgba(29, 29, 27, 0.8);
  font-weight: 900;
  font-family: Montserrat;
}

.justify {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 25.93rem;
  padding: 32px 26px 33px 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.restablecer {
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 500;
}
.puntero {
  cursor: pointer;
}
.returnLogin {
  color: #0c6eb6;
  font-weight: bold;
}
.input-style {
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(29, 29, 27, 0.8);
  background-color: #fff;
}
.btn-entrar {
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 0.875rem;
}
.input-group {
  background-color: #fff;
  border-radius: 6.8px;
  box-shadow: 0 3px 9px 0 rgba(12, 110, 182, 0.1);
}
.text-btn {
  margin-right: 1.8rem !important;
  margin-left: 1.8rem !important;
}
