<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <img class="avatar border-gray" src="assets/image/avatar.jpg" alt="...">
          <h5 class="title">{{data.name}}</h5>
        </div>
        <p class="description text-center">
          "El fracaso es aveces más
          <br> fructífero que el éxito"
          <br>
          <em>
            -Henry Ford
          </em>
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>BNEAs Abiertos</small>
              </h5>
            </div>
            <div class="col-lg-6 col-md-6 col-6 ml-auto mr-auto">
              <h5>2
                <br>
                <small>BNEAs Cerrados</small>
              </h5>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="bi bi-plus"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i
                    class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Editar Perfil</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-floating mb-3">
                <select name="unidadNegocio" class="form-select input-style" id="unidadNegocio"
                  aria-label="Tipo de BNEA" [(ngModel)]="data.idBusinessUnit"
                  style="border: 1px solid #fff !important;">
                  <option disabled selected>Elige una opción</option>
                  <option *ngFor="let item of catBussinessUnit" [value]="item.id">{{item.empresa}}</option>
                </select>
                <label for="unidadNegocio">Unidad de negocio</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 px-1">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input name="nombre" id="nombre" [(ngModel)]="data.name" type="text" class="form-control"
                  placeholder="Username">
              </div>
            </div>
            <!-- <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" placeholder="Company" value="Ramirez">
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="email">Email</label>
                <input name="email" disabled [(ngModel)]="data.email" type="email" class="form-control"
                  placeholder="usuario" id="email">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label for="empleado">Número de empleado</label>
                <input id="empleado" name="empleado" [(ngModel)]="data.noEmployee" type="text" class="form-control"
                  placeholder="Número de empleado">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-floating mb-3">
                <select name="area" class="form-select input-style" id="area" aria-label="Tipo de Area"
                  [(ngModel)]="data.idArea" style="border: 1px solid #fff !important;">
                  <option selected>Elige una Area</option>
                  <option *ngFor="let item of catArea" [value]="item.id">{{item.area}}</option>
                </select>
                <label for="area">Area</label>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-floating mb-3">
                <select name="Subdirección" class="form-select input-style" id="Subdirección"
                  aria-label="Tipo de Subdirección" [(ngModel)]="data.idSubDivision"
                  style="border: 1px solid #fff !important;">
                  <option selected>Elige una Subdirección</option>
                  <option *ngFor="let item of catSubDivision" [value]="item.id">{{item.subDivision}}</option>

                </select>
                <label for="Subdirección">Subdirección</label>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="puesto">Puesto</label>
                <input id="puesto" name="puesto" [(ngModel)]="data.employeePosition" type="text" class="form-control"
                  placeholder="Puesto">
              </div>
            </div>

          </div>
          <!-- <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea
                  class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12 col-md-6 change_pass">
              <div (click)="changePassword(data.email)">
                <span class="text-primary">Cambiar Contraseña</span>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="update ml-auto mr-auto text-end">
                <button (click)="update()" type="submit" class="btn btn-primary btn-round">Actualizar</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>