<div class="main">
  <div class="justify">
    <div class="mt-2 text-end">
      <span class="portalBNEAs" (click)="close()"> X </span>
    </div>
    <div class="mb-4">
      <span class="ready">¡Listo!</span>
    </div>
    <div class="mb-2">
      <span class="text-ready">El BNEA ha sido creado exitosamente, podrás encontrarlo en la sección MIS ENTRADAS</span>
    </div>

    <div class="my-3">
      <div class="my-1 text-center">
        <button (click)="entrar()" type="button" class="btn btn-info btn-entrar">
          <span class="text-warning text-btn">
            Terminar
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
