<div class="main">
  <div class="justify">
    <div class="row">
      <!-- logo -->
      <div class="col-12 logo">
        <img
          class="rebel-img"
          src="./assets/RW_LogoWEB.png"
          alt="Rebel wings"
        />
      </div>

      <div class="col-12 logo mt-4">
        <div
          class=" spinner-border text-light"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only"></span>
        </div>
      </div>
      <div class="col-12 logo mt-4">
        <span class="text-black">
          <b> BIENVENIDO </b>
        </span>
      </div>
      <div class="col-12 logo">
        <span class="nameProfile">{{ user.name }} {{ user.lastName }}</span>
      </div>
    </div>
  </div>
</div>
