<div class="main">
  <div class="justify">
    <div class="row">
      <!-- logo -->
      <div class="col-12 logo">
        <img class="bancoppel" src="./assets/bancoppel-logo-white.png" alt="Rebel wings" />
      </div>

      <div class="col-12 logo mt-4">
        <div class=" spinner-border text-white" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
      <div class="col-12 logo mt-4">
        <span class="text-white welcome">
          <b>
            BIENVENIDO
          </b>
          
        </span>
      </div>
      <div class="col-12 logo">
        <span class="nameProfile">
          <b *ngIf="profile == '1'"> Administrador </b>
        <b *ngIf="profile == '2'"> Usuario </b></span>
      </div>
    </div>
  </div>
</div>