.welcome {
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.51);
  text-align: right;
  font-weight: 300;
  font-size: 0.85rem;
}
.Dash {
  font-family: Montserrat;
  color: rgba(29, 29, 27, 0.8);
  font-size: 1.5rem;
  font-weight: 900;
}