<div class="row my-5">
  <div class="col-6  text-start">
    <span class="Dash">Dashboard</span>
  </div>
  <div class="col-6 text-end">
    <span class="welcome">Hola, Frida. Bienvenid@ al Dasboard General. En este espacio podrás visualizar información
      relacionada con
      las entredas del Grupo.</span>
  </div>
</div>
<!-- filtros -->
<div class="row my-4">
  <div class="col-4">
    <div class="form-floating mb-3">
      <select class="form-select input-style" id="tipoEmpresa" aria-label="Empresa"
        style="    border: 1px solid #fff !important;">
        <option selected>Elige una empresa</option>
        <option value="1">Empresa 1</option>
        <option value="2">Empresa 2</option>
        <option value="3">Empresa 3</option>
      </select>
      <label for="tipoEmpresa">Empresa</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <select class="form-select input-style" id="tipoArea" aria-label="Area"
        style="    border: 1px solid #fff !important;">
        <option selected>Elige una area</option>
        <option value="1">Area 1</option>
        <option value="2">Area 2</option>
        <option value="3">Area 3</option>
      </select>
      <label for="tipoArea">Area</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <select class="form-select input-style" id="subdireccion" aria-label="Subdirección"
        style="    border: 1px solid #fff !important;">
        <option selected>Elige una subdirección</option>
        <option value="1">subdireccion 1</option>
        <option value="2">subdireccion 2</option>
        <option value="3">subdireccion 3</option>
      </select>
      <label for="subdireccion">Subdirección</label>
    </div>
  </div>
</div>
<!-- cards -->
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Areas</p>
              <p class="card-title">15
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="bi bi-arrow-up text-success"></i>
              <!-- <i class="nc-icon nc-money-coins text-success"></i> -->
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Entradas</p>
              <p class="card-title">150
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="bi bi-clock text-danger"></i>

              <!-- <i class="nc-icon nc-vector text-danger"></i> -->
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Valor Cartera</p>
              <p class="card-title">3,000
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="bi bi-clock"></i>
          <!-- <i class="fa fa-clock-o"></i> -->
          En horas
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="bi bi-currency-dollar text-primary"></i>
              <!-- <i class="nc-icon nc-favourite-28 text-primary"></i> -->
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Beneficio</p>
              <p class="card-title">10.5 M
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 1 grafica -->
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <!-- <p class="card-category">24 Hours performance</p> -->
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- 2 grafica -->
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Distribución de Beneficio</h5>
        <!-- <p class="card-category">Last Campaign Performance</p> -->
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <!-- <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Entradas por Area</h5>
        <!-- <p class="card-category">Line Chart with Points</p> -->
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <!-- <hr />
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div> -->
      </div>
    </div>
  </div>
</div>